
</div>
<div class="footer-padding"></div>
  <div class="footer">
    
    <h7>POUR YOUR HEART OUT <span>!</span></h7>

    <p>Made with 🤍 by PRIYANSHI TANEJA PVT. LTD. &copy; 2020</p>
  </div>
</div>
</body>
</html>
